export(accession2chr)
export(alignment2ucsc)
export(get.taxonID)
export(import.gene.summary)
export(import.gene2accession)
export(import.gene2refseq)
export(import.gene_info)
export(import.gff)
export(import.kgXref)
export(import.knownGene2gene)
export(import.knowngene)
export(import.miRbase)
export(import.miRbase.locations)
export(import.miRbase.miR2mir)
export(import.miRbase.miRome)
export(import.miRbase.mir2miR)
export(import.miRbase.mirome)
export(import.mirbase.dropped)
export(import.ncbi.file)
export(import.ucsc.file)
export(import.unigene.data)
export(import.unigene2gene)
export(int2char)
export(is.ucsc.string)
export(linkout.gene)
export(linkout.ucsc)
export(make.gene.summary)
export(make.ucsc.string)
export(make.unique.gene2accession)
export(make.unique.gene2refseq)
export(miR2mir)
export(miRNA.align.mir.to.miR)
export(miRNA.fix.miR.ids)
export(miRNA.validate.miR.ID)
export(miRNA.which.arm)
export(miRbase.miR2mir)
export(miRuniverse)
export(mir2miR)
export(mirIDsplit)
export(mirbase.to.3p.5p)
export(mirna.pre2mature)
export(mirorder)
export(mirsort)
export(mirsplit)
export(order.refseq)
export(range_merge_markers)
export(rank.refseq)
export(rename.gnf.markers)
export(retrieve.genomic.loc)
export(summarise.genomescan)
export(ucsc.pos)
export(ucsc.pos.add)
export(ucsc.pos.diff)
export(ucsc.pos.split)
export(ucsc.pos.subset)
export(ucsc.pos2genoMb.pos)
export(ucsc.size)
export(ucsc.union)
export(ucsc.unionN)
export(write.expression)
export(write.expression.data)
export(write.fa)
export(write.fasta)
importFrom(Biostrings,pairwiseAlignment)
importFrom(IRanges,score)
importFrom(IRanges,subject)
importFrom(mjcbase,"colclasses<-")
importFrom(mjcbase,alleq)
importFrom(mjcbase,colclasses)
importFrom(mjcbase,collapse.rows)
importFrom(mjcbase,file.gunzip)
importFrom(mjcbase,file.isgzip)
importFrom(mjcbase,is.matrix.like)
importFrom(mjcbase,mgrep)
importFrom(mjcbase,n2o)
importFrom(mjcbase,na.rm)
importFrom(mjcbase,o2n)
importFrom(mjcbase,range_merge)
importFrom(mjcbase,scan.text)
importFrom(mjcbase,str_right)
importFrom(mjcbase,vecmerge)
importFrom(mjcbase,write.delim)
